node_modules
dist
.DS_Store
*.log
.env

# frontend assets managed by e-module-builder (overwritten on every build)
src/

# generated home page
index.html

# all generated page stubs
pages/

# While the package lives inside this repo, we don't want to ignore it's pages and index.html
!packages/builder/templates/pages/
!packages/builder/templates/index.html

# Will be built automatically
public/
